{
    "root": true,
    "extends": [
        "plugin:vue/vue3-essential",
        "eslint:recommended",
        "@vue/eslint-config-typescript",
        "@vue/eslint-config-prettier"
    ],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
        "quotes": ["error", "single"],
        "prettier/prettier": [
            "error",
            {
            "trailingComma": "all",
            "useTabs": false,
            "tabWidth": 4,
            "semi": false,
            "singleQuote": true,
            "bracketSpacing": true,
            "printWidth": 100,
            "endOfLine": "auto"
            }
        ]
    }
  }